<!-- <p style="margin-top:50px;margin-bottom: -80px;">{{title}}</p> -->

<app-http></app-http>

<!-- <router-outlet></router-outlet> -->

<!-- FORM  EXAMPE -->

<!-- <app-template-form></app-template-form> -->


<!-- ACTIVITY 4 -->


<!-- <p>Count:{{count}}</p>

 <button (click) = "addCount()">Add Count</button> <br>
 <button (click) = "subCount()">Sub Count</button>  -->

<!-- <div *ngIf="count > 5 ">
    <app-second></app-second>
</div> -->
<!-- PWEDE RA ING ANI -->
<!-- <app-second *ngIf="count > 5 "></app-second> -->



<!-- <app-first [message]= " message " ></app-first> -->
<!-- <app-first (firstEvent)="appEvent($event)" ></app-first>
<app-second  [secondMessage]= " appMessage" ></app-second> -->
<!-- <app-third (thirdEvent)="appEvent($event)"></app-third>
<app-fourth></app-fourth> -->


<!-- <div *ngFor="let message of appMessageArray">
    <app-first [firstMessage]="message"></app-first>
</div>
<div *ngIf="showComponent">
    <app-second></app-second>
</div>
<button (click)="showHide()">Show</button>  -->



<!-- ACTIVITY 5  AND 6-TEMPLATE-DRIVEN FORM-->
<!-- <br><br><br>
<h2>Device Details View</h2>

<div *ngFor="let device of devices">
    <app-device-details [deviceDetail]="device"></app-device-details>
    
</div>  -->

 <!-- <div >
    <app-template-form (deviceDetail)=addDevice($event)></app-template-form>

</div> -->


<!-- Activity 7 REACTIVE-FORM -->
<!-- <br>

 <h1>Device Details View</h1>

<div *ngIf = "!showUpdate">
<div *ngFor="let device of devices">
    <app-device-details [deviceDetail] = "device" (updateDetail) = "updateDevice($event,device.id)">
    </app-device-details>
</div>
</div>


<div *ngIf = "showUpdate">
    <app-reactive-form 
    [device]="selectedDevice"
    (update)="updateDisplay($event)"
    ></app-reactive-form>
</div>  -->





<!-- <div>
    <app-template-form (deviceDetail)=addDevice($event)></app-template-form>
</div> -->
<!-- <h2>Device Details View</h2>
<div *ngIf="!showUpdate">
    <div *ngFor="let device of devices">
        <app-device-details
         [deviceDetail]="device"
         (updateDetail) = "updateDevice($event)"
         ></app-device-details>
    </div>
</div> 

 <div *ngIf="!showUpdate">
    <app-reactive-form 
    [device]="deviceDetail"
    (update)="updateDisplay($event)"
    ></app-reactive-form>
</div> -->
<!-- <app-reactive-form></app-reactive-form> -->
